/* Bootstrap css */

html {
  font-size: 12px;
  padding: 0;
  margin: 0;
}

body {

  overflow: hidden;
  overflow: scroll
}

/* DYNAMIC TABS CSS */

@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}


body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.account-wall
{
  margin-top: 20px;

  padding: 40px 20px 20px 20px;
  border-radius:3%;
  opacity: 0.87;
  box-shadow:-2px -2px 15px #0a0a0a !important;
  //background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(255,255,255, 0.5);
  -webkit-box-shadow: 0px 2px 2px rgba(255,255,255, 0.5);
  box-shadow: 0px 2px 2px rgba(255,255,255, 0.5);
}

.area {
  width: 96.5%;
  height: 100% ;
  margin-top: .7%;
  margin-left: 55px;
  margin-right: 50px

}

#mychart
{
  border-radius:0.80%;
  opacity: 0.87;
  box-shadow:-2px -2px 15px #0a0a0a !important;
  //background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(255,255,255, 0.5);
  -webkit-box-shadow: 0px 2px 2px rgba(255,255,255, 0.5);
  box-shadow: 0px 2px 2px rgba(255,255,255, 0.5);

}

#myTabContent
{
  margin-left: -17%;
  margin-right: 50px
}

.div label {
  color: white;
}

.a{
  color : white;
}


.pane.pane-main {
  background-color: #F0F0F0;
  border-right: 1px solid #D9D9D9;
  top:0;
  bottom:0;
  left:0;
  right: 70%;
  position: absolute;
  overflow-y: auto;
}

.pane.pane-list {
  top:0;
  bottom:0;
  left:30%;
  right:30%;
  position: absolute;
  overflow-y: auto;
}

.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
background:#212121;
border-right:1px solid #e5e5e5;
position:fixed;
top:0;
bottom:0;
height:100vh;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}



.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;

}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}

.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#008aff;
}

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 300;
}
